a.site-title {
  margin-left: 0;
  display: block;
  margin: 0 1rem;
  color: #6f777d;
  text-decoration: none;
  transition: none;
  align-self: center;
  font-weight: bold;
  box-sizing: border-box;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  display: flex;
  /* min-height: 100px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 24px;
  -webkit-text-size-adjust: 100%;
}

a.site-title::selection {
  color: #fff;
  background: #000;
}